---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "@/components/sections/Skills.astro";
import References from "@/components/sections/References.astro";
import Keyboard from "@/components/sections/Keyboard.astro";
---

<Layout title="Hoja de vida Daniel Ramírez Uribe">
  <main>
    <Hero/>
	<About/>
	<Education/>
	<Experience/>
	<Skills/>
	<References/>
	<Keyboard/>
  </main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
